html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.c-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jc {
    display:flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}
